extends layout

block mainContent 
    h1 Dashboard
    p #{user}
    a(class="btn btn-dark me-2" href="/admin/blogs") Manage Blog Content
    a(class="btn btn-dark" href="/admin/skills") Manage Skills