extends layout

block mainContent
    div
        if crud === "Update"
            h1 #{crud} Blog Post 
            form(id="form" action="/admin/createPost" method="post")
                div 
                    label(for="title-name") Title:
                    input(type="text" id="title-name" name="titleName")
                div
                    label(for="image") Image:
                    input(type="file" id="image" name="image")
                div
                    label(for="description") Descriptions:
                    textarea(id="description" name="description")

                input(id="createdDate" name="createdAt" type="hidden")
            
                input(id="updatedDate" name="updatedAt" type="hidden" value=`${blog.updatedAt}`)

                input(type="submit")
        else
            h1 #{crud} Blog Post 
            form(id="form" action="/admin/createPost" method="post")
                div 
                    label(for="title-name") Title:
                    input(type="text" id="title-name" name="titleName")
                div
                    label(for="image") Image:
                    input(type="file" id="image" name="image")
                div
                    label(for="description") Descriptions:
                    textarea(id="description" name="description")

                input(id="createdDate" name="createdAt" type="hidden")
            
                input(id="updatedDate" name="updatedAt" type="hidden")

                input(type="submit")
