doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="module", src="/js/script.js") 
        link(rel="stylesheet", href="/css/style.css")
        title #{name}
        link(href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet")
    body
        header 
            include partials/header
        main
            block mainContent 
    footer
        include partials/footer
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js")
        
