extends layout

block mainContent
    div
        if crud === "Update"
            h1 #{crud} skill
            form(id="form" action="/blogs/createPost" method="post")
                div 
                    label(for="title-name") Title:
                    input(type="text" id="title-name" name="titleName" value=`${skill.title}`)
                div
                    label(for="image") Image:
                    input(type="file" id="image" name="image")
                div
                    label(for="description") Descriptions:
                    textarea(id="description" name="description" value=`${skill.body}`)

                input(type="submit")
        else
            h1 #{crud} skill 
            form(id="form" action="/blogs/createPost" method="post")
                div 
                    label(for="title-name") Title:
                    input(type="text" id="title-name" name="titleName")
                div
                    label(for="image") Image:
                    input(type="file" id="image" name="image")
                div
                    label(for="description") Descriptions:
                    textarea(id="description" name="description")

                input(type="submit")
