extends layout

block mainContent
    div
        if crud === "Update"
            h1 #{crud} skill
            form(id="form" action="/blogs/createPost" method="post" enctype="multipart/form-data")
                div(class="mb-3")
                    label(for="title-name" class="form-label") Title:
                    input(type="text" class="form-control" id="title-name" name="title" value=`${skill.title}`)
                div(class="mb-3")
                    label(for="image" class="form-label") Image:
                    input(type="file" id="image" class="form-control" name="image")
                div(class="mb-3")
                    label(for="description" class="form-label") Descriptions:
                    textarea(id="description" class="form-control" name="description" ) #{skill.body}

                input(type="submit" class="btn btn-primary")
        else
            h1 #{crud} skill 
            form(id="form" action="createPost" method="post" enctype="multipart/form-data")
                div(class="mb-3")
                    label(for="title-name" class="form-label") Title:
                    input(type="text" id="title-name" class="form-control" name="title")
                div(class="mb-3")
                    label(for="image" class="form-label") Image:
                    input(type="file" id="image" class="form-control" name="image")
                div(class="mb-3")
                    label(for="description" class="form-label") Descriptions:
                    textarea(id="description" class="form-control" name="description")

                input(type="submit" class="btn btn-primary")
